.classroom-info {
    background-color: #F6D8AE;
    padding: 20px;
  }
  
  .classroom-title {
    color: #2C3E50;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
  }
  
  .lorem-info {
    background-color: #F8F3D4;
    padding: 20px;
  }
  
  .lorem-text {
    color: #2C3E50;
    font-size: 24px;
    font-style: italic;
    margin: 0;
  }
  